<% profit_loss = 0%>
<h1>Portfolio</h1>
<br/>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Price</th>   
      <th>Current Value</th>
      <th>Total Paid</th> 
      <th>Profit/Loss</th>  
      <th>Cost Paid Per</th>
      <th>Amount owned</th>                    
    </tr>
  </thead>
  <tbody>
    <% @cryptos.each do |crypto|%>
      <%if crypto.user_id == current_user.id%>
        <% if crypto.symbol %>
          <% crypto.symbol = crypto.symbol.upcase%>
        <% end %>
        <tr>
        <% for x in @lookup_crypto['data'] %>
         <% if crypto.symbol == x['symbol'] %>  <%# search coin trong mang my_coins%>
             <td><%= link_to x['name'], crypto %></td> 
             <td><%= number_to_currency(x['quote']['USD']['price'])%></td>
             <td>$<%= (x['quote']['USD']['price'].to_d * crypto.amount_owned).round(2) %></td>
             <td>$<%= crypto.cost_per * crypto.amount_owned%></td>  
             <td>$<%= ((x['quote']['USD']['price'].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned)).round(2)%></td>
             <% profit_loss += (x['quote']['USD']['price'].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned)%>   
         <% end %> 
    <% end %>   
        <td>$<%= crypto.cost_per%></td>
        <td><%= crypto.amount_owned%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br/>
  <strong>Portfolio Profit/Lost:</strong><%= number_to_currency(profit_loss)%>
<div class="container">
  <%= link_to 'New Crypto', new_crypto_path, class: "btn btn-success"%>
</div>
<div>
  <%=line_chart (@data_chart_result), prefix: "$", round: 2, zeros: true, refresh: 60 %>
</div>
<style>
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>
<%#i=0%>
<%#count = Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}.count%>
<br>
<%#Portfo.all.pluck(:profit).uniq%>
<%#Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}%>
<%#for i in (0..count)%>
<%# <%= line_chart  [[Portfo.pluck(:created_at)[0], Portfo.all.pluck(:profit).uniq[0]], [Portfo.pluck(:created_at)[1], Portfo.all.pluck(:profit).uniq[1]],[Portfo.pluck(:created_at)[2], Portfo.all.pluck(:profit).uniq[2]],[Portfo.pluck(:created_at)[4], Portfo.all.pluck(:profit).uniq[3]]]%>
<%#=line_chart [Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[0],Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[1],Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[4],Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}.last]%>
<%#line_chart [Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[i],Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[i+1]]%>
<%#data_chart_test = Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[i]%>
<%# end %>
<%#data_chart0 = Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[count-5]%>
<%#data_chart1 = Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[count-4]%> 
<%#data_chart2 = Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[count-3]%>
<%#data_chart3 = Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[count-2]%>
<%#data_chart_last = Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[count-1]%>
<%#for i in (0..count)%>
  <%# array_new = []%>
  <%#=array_new.push(Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[i])%>
<%#end%>



<%#=line_chart [Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[0],Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[1],Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[4],Portfo.all.pluck(:created_at,:profit).uniq! {|c| c.second}[count-1]]%>
